*{
   box-sizing: border-box;
}
  
  /* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}
.navbar {
    background-color: lightblue;
}

.banner1{
    background-color: blue;
    height: 400px;
    width: 900px;
    

}
  